body {
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.topnav{
    width:80%;
    margin-left: 10%;
}

.ul{
  list-style-type: none;
  padding: 0;
  font-family: monospace;
  font-size: 20px;
  text-decoration: none;
}

.li{
  float: left;
  padding: 15px 20px;
}

.anchor{
  text-decoration: none;
}

.active{
  color: black;
  text-decoration: none;
}
.slide {
  width:80%;
  height:400px;
  margin-left: 10%;
  border-radius: 10px;
  overflow: hidden;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   font-family: monospace;
   color: white;
   text-align: center;

}

.anchor:hover{
  color:red;
}
